* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(128, 0, 128, 0.45),rgba(255, 255, 0, 0.404));
    height: 100vh;
    color: white;
    text-align: center;
}

table {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

th,td {
    border: 2px solid black;
    padding: 4px 25px;

}
h1{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}